.app-main {
  padding: 0;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  overflow-x: hidden;
}

.app-main--with-topbar {
  padding-top: 56px;
  min-height: calc(100dvh - 56px);
}

@media (min-width: 901px) {
  .app-main--with-topbar {
    padding-top: 64px;
    min-height: calc(100dvh - 64px);
  }
}
