/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: block;
  background: #fff;
}

.shell-content {
  align-content: flex-start;
  justify-content: flex-start;
}

.page {
  align-content: flex-start;
  justify-items: start;
}
